
/* Observações 

	Nas propriedades FONT



*/



h1{
	/* Define a fonte que queremos usar no Texto
	   Podemos colocar varias fontes mas é recomendavel que não ultrpasse 4 opções	
	   Nome composto de fonte tem que estar entre parenteses
	   E as fontes tem que ser web
	 */

	font-family: Cambria, Times, Serif ;
	font-size:2cm;
	font-style: italic;
	font-weight: 400;
	


}
